<link rel="stylesheet" href="/public/css/login.css">

 <!-- login.ejs -->

<% if (messages.error) { %>
	<%= messages.error %>
  <% } %>
<div class="login-box">
	<h2>Login</h2>
	<form action="/api/user" method="post">
	  
	  <div class="user-box">
		<input type="email" name="username" required>
		<label>Username</label>
	  </div>
	  <div class="user-box">
		<input type="password" name="password" required>
		<label>Password</label>
	  </div>
	  
	  <a><button type="submit">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		Login
	  </button>
	</a> 
	<a href="/register" >
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		Sign up!!
	  
	</a> 
	
       </form>
  </div>

  